{% extends 'resource_manager/base.html'%}
{% block body_block%}
{% load static %}

<title>Switches</title>
<script src="{% static 'js/list_view_to_detail.js' %}"></script>
     <link rel="stylesheet" href="{% static 'css/list_view_filter.css' %}">

<div class="container">

      <div class="form-group filter-class">
          <form method="get" id="vsatfilter_form">
              <div class="form-group">
                  <label>Setup</label>
                  {{ filter.form.switch_setup }}
              </div>
              <input style="background-color: #4d8ea8; color: white" type="submit" class="btn btn-success btn-filter" value="Filter">
          </form>
      </div>

      <div class="list">
      <h3 class="display-6">Switches</h3>
          <table class="table table-stripped table-hover">
          <thead>
            <th>Role</th>
            <th>Setup</th>
            <th>Number of ports</th>
          </thead>
      {% for switch in filter.qs %}

      <tr class="click-row"  data-href = "{{ switch.id }}">
        <td>{{ switch.switch_role }}</td>
        <td>{{ switch.switch_setup }}</td>
        <td>{{ switch.sw_ports.all.count }}</td>
      </tr>
      {% endfor %}
    </table>
       <a style="background-color: #4d8ea8; color: white" class="btn btn-filter" role="button" href="{% url 'resource_manager:switch_create'%}">Add new</a>

      </div>
</div>
{% endblock %}
