<!DOCTYPE html>
{% extends 'resource_manager/base.html' %}
{% block body_block %}
    {% load bootstrap5 %}

<div class="container">
  <h3 class="display-6">
  {% if not form.instance.pk %}
  Write your update
  {% else %}
  Update
  {% endif %}
</h3>
<div class="form-group col-md-10">
  <form method="post" id="postForm">
    {% csrf_token %}
{#    {{ form.as_p }}#}
      {{ form.media }}
    {% bootstrap_form form %}
{#     <input type="checkbox" name="">#}
    <input style="background-color: #4d8ea8; color: white" class="btn btn-success" type="submit" name="" value="Create">
  </form>
</div>
</div>
{% endblock %}