
.list{
  box-sizing: border-box;
  position: relative;
  top: 20px;
  padding: 25px;
  border-radius: 10px;
  /*Original*/
  background: #bfd4de;
  box-shadow: 14px 14px 20px #97a3a8,
  -14px -14px 20px #ebf4f7;
}

.display-6{
    text-align: center;
}

.equip{
  padding-top: 30px;
}

.message{
  text-align: center;
}
