.form-group input[type=text], select  {
  padding: 8px 20px;
  margin: 5px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #6d97a8;
}

.form-group{
  display: inline-block;
}

select{
  height: 40px;
}

.filter-class{
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  top: 5px;
  border-radius: 10px;
  background: #bfd4de;
  display: flex;
  box-shadow: 7px 7px 15px #97a3a8,
  -14px -14px 20px #ebf4f7;
}

.list{
  box-sizing: border-box;
  /*border-radius: 5px;*/
  /*background: white;*/
  /*width: 600px;*/
  position: relative;
  top: 30px;
  /*height: 500px;*/
  padding: 25px;
  border-radius: 10px;
  background: #bfd4de;
   /*background: #D5E5EC;*/

    /*  box-shadow: 10px 10px 16px #cbced1,*/
    /*-14px -14px 20px white;*/

  box-shadow: 14px 14px 15px #97a3a8,
  -14px -14px 15px #ebf4f7;
}

label{
  text-align: right;
}

.btn{
  border-radius: 10px;
  box-shadow: 3px 3px 5px #517382,
  -3px -3px 7px #ebf4f7;
  margin: auto;
}

.btn-filter{
  /*margin-left: 20px;*/
  height: 45px;
  width: 100px;

}



