<!DOCTYPE html>
{% extends 'resource_manager/base.html'%}
{% load static %}
{% block body_block %}
    <script src="{% static 'js/list_view_to_detail.js' %}"></script>
  <div class="container">
    <h1 class="display-5">Spectrum detail view</h1>

    <table class="table table-stripped table-hover">
      <tr>
        <td>Setup</td>
        <td>{{ spectrumanalyzer.spectrum_setup }}</td>
      </tr>
      <tr>
        <td>Management IP</td>
        <td>{{ spectrumanalyzer.management_IP }}</td>
      </tr>
      <tr>
        <td>Management Interface</td>
        <td>{{ spectrumanalyzer.management_interface }}</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>{{ spectrumanalyzer.username }}</td>
      </tr>
      <tr>
        <td>Password</td>
        <td>{{ spectrumanalyzer.password }}</td>
      </tr>
      {% if spectrumanalyzer.used_by %}
      <tr>
        <td>Used by</td>
        <td>{{ spectrumanalyzer.used_by }}</td>
      </tr>
      <tr>
        <td>Reserved since</td>
        <td>{{ spectrumanalyzer.reserved_since }}</td>
      </tr>
      {% endif %}
    </table>
      <br>
  <a style="background-color: #4d8ea8; color: white" class="btn" role="button" href="{% url 'resource_manager:specturm_list' %}"><<<</a>
    <a style="background-color: #4d8ea8; color: white" class="btn" role="button" href="{% url 'resource_manager:specturm_update' spectrumanalyzer.id %}">Edit</a>
    {% if spectrumanalyzer.used_by %}
        <a style="background-color: #4d8ea8; color: white" class="btn" role="button" href="{% url 'resource_manager:release_spectrum' spectrumanalyzer.id %}">Release</a>
    {% else %}
        <a style="background-color: #4d8ea8; color: white" class="btn" role="button" href="{% url 'resource_manager:reserve_spectrum' spectrumanalyzer.id %}">Reserve</a>
    {% endif %}
    <a style="background-color: #4d8ea8; color: white" class="btn btn-warning" role="button" href="{% url 'resource_manager:spectrum_delete' spectrumanalyzer.id %}">Delete</a>
    <br>
    <br>
    {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-warning" role="alert">
        {{ message }}
      </div>
      {% else %}
      <div class="alert alert-info" role="alert">
        {{ message }}
      </div>
      {% endif %}
    {% endfor %}
    {% endif %}
  </div>
{% endblock %}
