<!DOCTYPE html>
{% extends 'resource_manager/base.html' %}
{% block body_block %}

<div class="container">
  <h3 class="display-6">
  {% if not form.instance.pk %}
  Create new interface
  {% else %}
  Update Interface
  {% endif %}
  </h3>

<div class="form-group col-md-4">
    <form method="post" id="pcif_form" data-ports-url="{% url 'resource_manager:load_switch_ports' %}">
    {% csrf_token %}
    {{form.as_p}}
    <input style="background-color: #4d8ea8; color: white" type="submit" class="btn btn-success" value="Apply">
    {% if form.instance.pk %}
        <a style="background-color: #4d8ea8; color: white" class="btn btn-warning" role="button" href="{% url 'resource_manager:interface_delete' pcid=form.instance.parrent_pc.id pk=form.instance.pk %}">Delete</a>
    {% endif %}
  </form>

</div>


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $("#id_pc_switch").change(function () {
        const url = $("#pcif_form").attr("data-ports-url");
        const pc_switchId = $(this).val();

        $.ajax({                       // initialize an AJAX request
            url: url,
            data: {
                'port_switch_id': pc_switchId
            },
            success: function (data) {
                $("#id_pc_switch_if").html(data);
            }
        });
    });
</script>
{% endblock %}