<!DOCTYPE html>
{% extends 'resource_manager/base.html'%}
{% load static %}
{% block body_block %}
    <script src="{% static 'js/list_view_to_detail.js' %}"></script>
  <div class="container">
    <h1 class="display-5">PC detail view</h1>

    <table class="table table-stripped table-hover">
      <tr>
        <td>PC Role</td>
        <td>{{ pc.pc_role }}</td>
      </tr>
      <tr>
        <td>Setup</td>
        <td>{{ pc.pc_setup }}</td>
      </tr>
      <tr>
        <td>IP Address</td>
        <td>{{ pc.pc_ip_address }}</td>
      </tr>
      <tr>
        <td>OS</td>
        <td>{{ pc.pc_os }}</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>{{ pc.pc_username }}</td>
      </tr>
      <tr>
        <td>Password</td>
        <td>{{ pc.pc_password }}</td>
      </tr>
      {% if pc.pc_reserved_by %}
      <tr>
        <td>Used by</td>
        <td>{{ pc.pc_reserved_by }}</td>
      </tr>
      <tr>
        <td>Reserved since</td>
        <td>{{ pc.pc_reserved_since }}</td>
      </tr>
      {% endif %}
    </table>

      <br>
  <a style="background-color: #4d8ea8; color: white" class="btn" role="button" href="{% url 'resource_manager:pc_list' %}"><<<</a>
    <a style="background-color: #4d8ea8; color: white" class="btn" role="button" href="{% url 'resource_manager:pc_update' pc.id %}">Edit</a>
    <a style="background-color: #4d8ea8; color: white" class="btn" role="button" href="{% url 'resource_manager:reserve_pc' pc.id %}">Reserve</a>
    <a style="background-color: #4d8ea8; color: white" class="btn" role="button" href="{% url 'resource_manager:release_pc' pc.id %}">Release</a>
    <a style="background-color: #4d8ea8; color: white" class="btn" role="button" href="{% url 'resource_manager:pc_interface_create' pc.id %}">Add interface</a>

    {% if pc.cpe_reserved_by %}
    <a style="background-color: #4d8ea8; color: white" class="btn" role="button" href="{% url 'resource_manager:release_pc' pc.id %}">Release</a>
    {% endif %}

    <a style="background-color: #4d8ea8; color: white" class="btn btn-warning" role="button" href="{% url 'resource_manager:pc_delete' pc.id %}">Delete</a>
    <br>
    <br>
    {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-warning" role="alert">
        {{ message }}
      </div>
      {% else %}
      <div class="alert alert-info" role="alert">
        {{ message }}
      </div>
      {% endif %}
    {% endfor %}
    {% endif %}


<div class="col-md-6">
         <div class="row">
             {% if pc.pc_nics %}
                <p>Interface list</p>
                <table class="table table-stripped table-hover clickable">
                    <thead>
                    <th class="col-1">Interface</th>
                    <th class="col-2">Connected to</th>
                    </thead>
                    {% for port in pc.pc_nics.all %}
                      <tr class="click-row" data-href = "{% url 'resource_manager:pc_port_update' pcid=port.parrent_pc.id pk=port.pk %}">
                        <td><img src="{% static 'svg/RJ45-Female.svg' %}" width="40" height="40"> {{port.pc_if_name}}</td>
                        <td>{{port.pc_switch_if|default_if_none:"NOT CONNECTED"}}</td>
                      </tr>
                    {% endfor %}
                </table>
             {% endif %}
      </div>

</div>

  </div>
{% endblock %}
